<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <!--<pre>{{form.get('email').errors | json}}</pre>-->

      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation"
      >
        <small *ngIf="form.get('email').errors.required">
          Field email could not be empty
        </small>

        <small *ngIf="form.get('email').errors.email">
          Enter correct email
        </small>

        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email {{form.get('email').value}} is forbidden
        </small>

        <small *ngIf="form.get('email').errors.uniqEmail">
          Email {{form.get('email').value}} is busy
        </small>

      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="password" formControlName="password">
<!--      <pre>{{form.get('password').errors | json}}</pre>-->
      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="validation">
        <small *ngIf="form.get('password').errors.required">
          Password could not be empty
        </small>

        <small *ngIf="form.get('password').errors.minlength">
          Password is too short, minimum length is {{form.get('password').errors.minlength.requiredLength}}.
          Now password length is {{form.get('password').errors.minlength.actualLength}}.
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Address</h2>

      <div class="form-control">
        <label>Country</label>

        <select formControlName="country">
          <option value="ru">Russia</option>
          <option value="ua">Ukraine</option>
          <option value="by">WhiteRussia</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="City">
      </div>

      <button class="btn" type="button" (click)="setCapital()">Choose capital</button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Your skills</h2>
      <button class="btn" type="button" (click)="addSkill()">Add skill</button>
      <div
        *ngFor="let control of form.get('skills').controls; let idx = index"
        class="form-control">
        <label>Skill {{idx+1}}</label>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Send</button>

  </form>

  <h1>Angular NgModels</h1>
  <p>создадим свою ng-модель</p>

  <app-switch
    [(ngModel)]="appState"
    (ngModelChange)="handleChange()"
  ></app-switch>
  <hr>
  <p>appState: {{appState}}</p>
</div>
