<p>RxJS</p>
<p>это обычная библиотека, которая позволяет работать с различными типами событий, данных, объектов и т.д.</p>
<p>позволяет удобно работать с асинхронностью</p>
<p>оборачиваем кусок кода в RxJS-стрим и дальше внутри этого кода мы можем диспачить события, триггерить стрим и в другом месте на него подписаться</p>
<a href="https://rxjs-dev.firebaseapp.com/api">Api Docs</a><br>
<button class="btn" (click)="stop()">Stop interval</button>
<button class="btn btn-danger" (click)="next()">Next value</button>


